.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Döljer scrollbaren */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* För IE och Edge */
    scrollbar-width: none;  /* För Firefox */
  }
  